PERMASALAHAN PYTHON DANIS PART 1

In [16]:
var1 = 10
var2 = 3.14
var3 = -5
print("variabel dengan type", type(var1))
print(type(var2))
print(type(var3))

var4 = "Halo, dunia!"
var5 = 'Python sangat keren'
print(type(var4))
print(type(var5))

var6 = True
var7 = False
print(type(var6))
print(type(var7))

var8 = [1, 2, 3, 4, 5]
var9 = ['apel', 'pisang', 'jeruk']


var10 = (1, 2, 3)
var11 = ('a', 'b', 'c')


var12 = {'nama': 'John', 'umur': 30, 'kota': 'Jakarta'}
var13 = {'satu': 1, 'dua': 2, 'tiga': 3}


var14 = {1, 2, 3, 4, 5}
var15 = {'a', 'b', 'c'}

var21 = 25
var22 = 6.28
var23 = -10


var24 = "Saya suka belajar pemrograman"
var25 = 'Python adalah bahasa favorit saya'


var26 = True
var27 = False


var28 = [6, 7, 8, 9, 10]
var29 = ['apel', 'pisang', 'nanas']


var30 = (4, 5, 6)
var31 = ('x', 'y', 'z')


var32 = {'nama': 'Sarah', 'umur': 25, 'kota': 'Surabaya'}
var33 = {'satu': 10, 'dua': 20, 'tiga': 30}


var34 = {6, 7, 8, 9, 10}
var35 = {'x', 'y', 'z'}
print(type(var34))
print(type(var35))

variabel dengan type <class 'int'>
<class 'float'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'set'>
<class 'set'>